h1{
    text-align: center;
}
p{
    text-align: center;
}
a{
    text-align: center;
}
img{
    text-align: center;
    margin-left: 300px;
}
div h2, p{
    text-align: justify;
}
h3{
    text-align: center;
    justify-content: center;
    align-content: center;
    margin-top: 350px;
    font-size: 3rem;
    text-transform: uppercase;
}